body {
  margin: 0;
}

/* ----------navBar---------------- */
.navBar {
  background: #faff00;
  width: 100%;
  height: 10vh;
}

.navBar ul {
  display: flex;
  justify-content: space-between;
}

.navBar li {
  padding: 0 5%;
}

.navBar .leftSection {
  height: 2rem;
  width: 49%;
}

.navBar .rightSection {
  float: right;
  width: 49%;
}

.leftSection img {
  height: 10vh;
}

.videoTheme video {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  border: 0;
  margin: 0;
}

.paragraphContentMasskara {
  text-align: center;
  height: 30vh;
}


/* -----------carousel----------- */
.carousel-item {
  height: 70vh;
}

.carousel-item img {
  object-fit: fill;
}

.carousel-fade {
  display: block;
  opacity: 0;
  transition: opacity ease-in-out 0.9s;
}

.carousel-fade {
  opacity: 1 !important;
}



/* ----------touristSpots------------------ */
.touristSpots {
  margin: 4% 0 1% 0;
  display: flex;
  overflow-x: scroll;
  scrollbar-gutter: stable;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  user-select: none;
  cursor: pointer;
  overflow-y: hidden;
}

.touristspot-title {
  margin: 0% 45%;
  position: absolute;
}

.touristSpots::-webkit-scrollbar {
  display: none;
}

.touristSpots.active {
  background: rgba(255, 255, 255, 0.3);
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.touristSpots img {
  bottom: 0;
  right: 0;
  position: absolute;
  height: 20vh;
  width: 20vh;
  object-fit: cover;
  border-radius: 50%;
}

#touristSpot {
  height: auto;
  position: relative;
}

.touristSpots h1 {
  margin: 0 25%;
  margin-top: 20%;
}

#touristSpot:hover {
  transform: scale(1.05);
  transition: 0.5s;
}


#touristSpotmap {
  border-radius: 50%;
  height: 50vh;
  width: 50vh;
  padding-left: 5%;
  padding-top: 5%;
  padding-right: 5%;
}

.parent {
  width: 300px;
  border: 5px solid red;
  overflow: hidden;
  left: 20px;
}

/* -----------eventLocations---------- */
.eventLocations {
  margin: 5% 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.event p {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.event img {
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
}

.event {
  transition: 0.5s ease-in-out;
  filter: saturate(0);
  position: relative;

}

.event:hover {
  overflow: hidden;
  transform: scale(1.04);
  filter: saturate(1);
  transition: 0.5s ease-in-out;
}

.event video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
  border-radius: 10px;
}

/* ------------------highlights------------------ */
.highlights-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.highlights {
  margin: 5%;
}


.highlights img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.highlights-text {
  padding: 5%;
  background-color: beige;
}

/* --------------------footer------------------------- */
.footer-container {
  margin-top: 5%;
  background-color: #faff00;
  width: 100%;
  height: 20vh;
}