body {
  margin: 0;
}

.navBar {
  background: #faff00;
  width: 100%;
  height: 10vh;
}

.navBar ul {
  display: flex;
  justify-content: space-between;
}
.navBar li {
  padding: 0 5%;
}
.navBar .leftSection {
  height: 2rem;
  width: 49%;
}

.navBar .rightSection {
  float: right;
  width: 49%;
}
.leftSection img {
  height: 10vh;
}

.videoTheme video {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  border: 0;
  margin: 0;
}

.paragraphContentMasskara {
  text-align: center;
  height: 30vh;
}

.carousel-item {
  height: 70vh;
}
.carousel-item img {
  object-fit: fill;
}

.touristSpots {
  margin: 5% 0 5% 0;
  display: flex;
  overflow-y: scroll;
}
.touristSpots img {
  height: 50vh;
  width: 50vh;
  object-fit: cover;
  border-radius: 50%;
  z-index: 99;
  padding-right: 5%;
}

iframe {
  padding-top: 5%;
}
